.answer {
  position: relative;
  margin: 5px;
  display: inline-block;
  max-width: 70%;
  width: auto;
  min-width:150px;
  padding: 10px;
  opacity: 0;
  border-radius: 0px 15px 15px 15px;
  background-color: white;
  animation: fade 0.5s ease-in-out forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.answer p {
  margin: 0;
  min-height:20px;
}
.answer img {
  width: 100%;
  height: auto;
}
.link-answer{
  word-wrap:break-word
}
.answer a{
  display:flex;
  gap:5px;
  align-items: center;
}
.link-answer a{
  display:block;
}
.answer a svg{
  width:40px;
  height:40px;
}
.answer video{
  width:100%;
  height:auto;
}
.answer.question-message {
  margin-left: auto;
  clear: both;
  color: black;
  border-radius: 15px 0px 15px 15px;
  background-color: #dcf8c6;
}
.answer iframe {
  width: 100%;
  height: auto;
  border: 0;
}
.answer .dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin:0 2px;
  border-radius: 50%;
  background-color: #525252;
}
.container .dot:nth-last-child(1) {
  animation: jumpingAnimation 0.6s 0.1s ease-in infinite;
}
.container .dot:nth-last-child(2) {
  animation: jumpingAnimation 0.6s 0.2s ease-in infinite;
}
.container .dot:nth-last-child(3) {
  animation: jumpingAnimation 0.6s 0.3s ease-in infinite;
}
@keyframes jumpingAnimation {
  0 {transform: translate3d(0, 0,0);}
  50% {transform: translate3d(0, 9px,0);}
  100% {transform: translate3d(0, 0, 0);}
}
